.header-component {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 30rem;
}

.title {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  color: var(--gold-light);
  font-size: 2rem;
  overflow-wrap: anywhere;
  text-align: center;
}
